@import '~@nativescript/theme/core';
@import '~@nativescript/theme/blue';

@import './app-variables';

// classes
@import './styles/MDMargins';
@import './styles/MDPaddings';
@import './styles/MDFonts';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

/*------ GENERAL ------*/
Page {
  background-color: $background;
  color: $onBackground;
}

StackLayout {
  background-color: $background;
  color: $onBackground;
}

GridLayout {
  background-color: $background;
  color: $onBackground;
}

Label {
  background-color: $background;
  color: $onBackground;
}

TextView {
  background-color: $background;
  color: $onBackground;
}

TextField {
  text-align: left;
  // font-weight: bold;
  // background-color: $surface;
  // color: $onSurface;
}

MDButton {
  border-radius: 50%;
  background-color: $primary;
  color: $onPrimary;
  font-size: $font-sz-s;
}

MDTextField {
  font-weight: bold;
  text-align: left;
  background-color: $surface;
  color: $onSurface;
}

MDSlider {
  background-color: $surface;
  color: $onSurface;
}

.action-bar {
  background-color: $primary-variant;
  color: $onPrimary;
}

.bottom-app-bar {
  background-color: $primary;
  color: $onPrimary;
}

.Drawer {
  background-color: $surface;
}

.DrawerHeader {
  background-color: $primary-variant;

  Label {
    background-color: transparent;
    color: $onPrimary;
  }
}

.DrawerItem {
  background-color: $surface;

  Label {
    background-color: transparent;
    color: $primary-dark;
  }
}

// // Place any CSS rules you want to apply on both iOS and Android here.
// // This is where the vast majority of your CSS code goes.

// // Font icon class
// .fab {
//     font-family: "Font Awesome 5 Brands", "fa-brands-400";
//     font-weight: 400;
// }

// .fas {
//     font-family: "Font Awesome 5 Free", "fa-solid-900";
//     font-weight: 900;
// }

// .far {
//     font-family: "Font Awesome 5 Free", "fa-regular-400";
//     font-weight: 400;
// }
